@model Cascade.Web.Models.LoginModel
@{
    ViewBag.Title = "Log in";
}
<style>
    body
    {
        background-color: #336699;
        background-image: url('../Images/Landing_Page.png');
    }

    #login
    {
        position: absolute;
        left: 800px;
        top: 60px;
        color: #FFF;
    }
    
    table
    {
        color:#fff;
    }
    #login input[type='submit']
    {
        background-color: #3366cc;
        color: #FFFFFF;
        padding-right: 10px;
    }
</style>
<body>
    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
    {
        @Html.ValidationSummary(true, "Log in was unsuccessful. Please correct the errors and try again.")

        <div id="login">
            <table>
                <tr>
                    <td>
                        @Html.LabelFor(m => m.UserName)
                    </td>
                    <td>:
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.UserName)
                    </td>
                    <td>
                        @Html.LabelFor(m => m.Password)
                    </td>
                    <td>:
                    </td>
                    <td>
                        @Html.PasswordFor(m => m.Password)
                    </td>
                    <td>
                        <input type="submit" value="Log in" />
                    </td>
                </tr>
            </table>
        </div>
    }
</body>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
