<table style="border-style: none; border-width: thick; border-color: aqua">
    <tr>
        <td>
            <input type="text" id="lhsMenuSerachText" class="searchBox" /></td>
    </tr>
    <tr>
        <td>
            <div id="searchLnk"><a href="#">Search</a></div>
        </td>
    </tr>

    <tr>
        <td>
            <ul class="lhsLinks">
                <li>@Html.ActionLink("Reports", "Index","UnderConstruction",null,null)<ul>
                    <li>@Html.ActionLink("Recourse", "Index","UnderConstruction",null,null)</li>
                    <li>
                        @Html.ActionLink("Collections", "Index","UnderConstruction",null,null)<ul>
                            <li>@Html.ActionLink("Analytical Reports", "Index","UnderConstruction",null,null)<ul>
                                <li>@Html.ActionLink("Agency Side-by-Side Comparison", "Index","UnderConstruction",null,null)</li>
                                <li>@Html.ActionLink("Batch Tracker", "Index","UnderConstruction",null,null)</li>
                                <li>@Html.ActionLink("Firm Liquidation Batch Tracker", "Index","UnderConstruction",null,null)</li>
                                <li>@Html.ActionLink("Inventory Snapshot", "Index","UnderConstruction",null,null)</li>
                                <li>@Html.ActionLink("Media Notification", "Index","UnderConstruction",null,null)</li>
                                <li>@Html.ActionLink("Performance Summary", "Index","UnderConstruction",null,null)</li>
                                <li>@Html.ActionLink("SIF Tracker", "Index","UnderConstruction",null,null)</li>
                                <li>@Html.ActionLink("Suit Percentage by Batch", "Index","UnderConstruction",null,null)</li>
                            </ul>
                            </li>
                            <li>@Html.ActionLink("Compliance Reports", "Index","UnderConstruction",null,null)<ul>
                                <li>@Html.ActionLink("Closed Activity Report", "Index","UnderConstruction",null,null)</li>
                                <li>@Html.ActionLink("Exception Report", "Index","UnderConstruction",null,null)</li>
                            </ul>
                            </li>
                            <li>@Html.ActionLink("DPS and Collections", "Index","UnderConstruction",null,null)<ul>
                                <li>@Html.ActionLink("Find DPS Check", "Index","UnderConstruction",null,null)</li>
                                <li>@Html.ActionLink("DPS Payable", "Index","UnderConstruction",null,null)</li>
                                <li>@Html.ActionLink("DPS Payable Summary", "Index","UnderConstruction",null,null)</li>
                                <li>@Html.ActionLink("Add In-House Check", "Index","UnderConstruction",null,null)</li>
                                <li>@Html.ActionLink("DPS Paid by Our Check", "Index","UnderConstruction",null,null)</li>
                                <li>@Html.ActionLink("Add Check", "Index","UnderConstruction",null,null)</li>
                            </ul>
                            </li>
                            <li>@Html.ActionLink("Financial Reports", "Index","UnderConstruction",null,null)</li>
                            <li>@Html.ActionLink("Portfolio Reports", "Index","UnderConstruction",null,null)<ul>
                                <li>@Html.ActionLink("Portfolio Cash Flow", "Index","UnderConstruction",null,null)</li>
                                <li>@Html.ActionLink("Portfolio Cash Flow Position", "Index","UnderConstruction",null,null)</li>
                                <li>@Html.ActionLink("Portfolio Summary", "Index","UnderConstruction",null,null)</li>
                                <li>@Html.ActionLink("Collections Reconciliation", "Index","UnderConstruction",null,null)</li>
                                <li>@Html.ActionLink("Portfolio Transactions", "Index","UnderConstruction",null,null)</li>
                                <li>@Html.ActionLink("Purchases", "Index","UnderConstruction",null,null)</li>
                                <li>@Html.ActionLink("Sales", "Index","UnderConstruction",null,null)</li>
                            </ul>
                            </li>
                            <li>
                        </ul>
                    </li>
                    <li>
                        @Html.ActionLink("Investor Mgt", "Index","UnderConstruction",null,null)</li>
                    <li>
                        @Html.ActionLink("Analytics", "Index","UnderConstruction",null,null)</li>
                    <li>
                        @Html.ActionLink("Asset Sales", "Index","UnderConstruction",null,null)</li>
                </ul>
                </li>
                <li>@Html.ActionLink("My CRM", "Index", "Company", new { area = "CRM" }, null)<ul>
                    <li>@Html.ActionLink("Companies", "Index","UnderConstruction",null,null)</li>
                    <li>@Html.ActionLink("Contacts", "Index","UnderConstruction",null,null)</li>
                    <li>@Html.ActionLink("Pipeline", "Index","UnderConstruction",null,null)</li>
                    <li>@Html.ActionLink("Documents", "Index","UnderConstruction",null,null)</li>
                </ul>
                </li>
                <li>@Html.ActionLink("My Account", "Account")<ul>
                    <li>@Html.ActionLink("Change Password", "Index","UnderConstruction",null,null)</li>
                    <li>@Html.ActionLink("Send Email", "Index","UnderConstruction",null,null)</li>
                    <li>@Html.ActionLink("My Calendar", "Index","UnderConstruction",null,null)</li>
                    <li>@Html.ActionLink("Manage Email Subscription", "Index","UnderConstruction",null,null)</li>
                    <li>@Html.ActionLink("Create Group", "Index","UnderConstruction",null,null)</li>
                    <li>@Html.ActionLink("Send Meeting Invite", "Index","UnderConstruction",null,null)</li>
                </ul>
                </li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>
            <div id="messageBoardTitle">My Message Board</div>
        </td>
    </tr>
    <tr>
        <td>
            <textarea id="messages" cols="17" rows="10"></textarea></td>
    </tr>
</table>
